<h2>Login</h2>

<form action="/login" method="post">
  <div>
    <strong>Username: </strong><br>
    <input type="text" name="username">
  </div>

  <div>
    <strong>Password: </strong><br>
    <input type="text" name="password">
  </div>

  <input type="submit" name="submit" value ="Log In">
</form>
