<h2>Create Account</h2>

<form action="/signup" method="post">
  <div>
    <strong>Username: </strong><br>
    <input type="text" name="username">
  </div>

  <div>
    <strong>Password: </strong><br>
    <input type="text" name="password">
  </div>

  <div>
    <strong>Admin</strong>
    <input type="checkbox" name="admin">
  </div>

  <input type="submit" name="submit" value ="Create Account">
</form>
