<h2>Welcome, <%= @user.username %>! <% if @user.admin %> | Business Owner | <% end %></h2>

<div>
  <a href="/restaurants">View Restaurants</a>
  <% if current_user.admin %>
   <a href="/restaurants/new">Post New Restaurant</a>
  <% end %>
</div>
