<table>
  <thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td>Review</td>
        <td>Rating</td>
      </tr>

      <tr>
        <td><%=@review.user.username%></td>
        <td><%=@review.content%></td>
        <td><%=@review.rating%></td>
      </tr>
    </tbody>
  </thead>
</table>
