<!doctype html>
<html>
  <head>
    <title>Felp!</title>
  </head>
  <body>

    <div class="container">
      <h1>Felp!</h1>
      <nav>
        <% if logged_in? %>
          <button type="submit" name="submit"><a href="/users/:slug">Profile</a></button>
          <button type="submit" name="submit"><a href="/restaurants">Restaurants</a></button>
          <% if current_user.admin %>
            <button type="submit" name="submit"><a href="/restaurants/new">Post New Restaurant</a></button>
          <% end %>
          <button type="submit" name="submit"><a href="/logout">Log Out</a></button>
        <% else %>
          <button type="submit" name="submit"><a href="/login">Log In</a></button>
          <button type="submit" name="submit"><a href="/signup">Sign Up</a></button>
        <% end %>
      </nav>
    </div>

    <br>

    <div>
      <% if flash.has?(:message) %>
        <strong><%= flash[:message] %></strong>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
